#HTML Snippets
'.text.html.basic':
  'Navbar':
    'prefix': 'nav'
    'body': """
      <!-- Navbar -->
      <ul class="nav">
        <li class="brand"><img src="" alt=""></li>
        <li class="nav-t"><i class="fa fa-2x fa-bars"></i></li>
        <li class="overlay"></li>
        <li class="nav-c">
          <ul>
            <li class="close"><i class="fa fa-2x fa-close"></i></li>
            <li class="item active"><a href="">LINK</a></li>
            <li class="item"><a href="">LINK</a></li>
          </ul>
        </li>
      </ul>
      """
  'Content':
    'prefix': 'content'
    'body': """

      <!-- Content -->
      <div class="content">
        <div class="container">

        </div>
      </div>
      """
  'Dropdown':
    'prefix': 'dropdown'
    'body': """
      <li class="item item-dropdown"><a>DROPDOWN <i class="fa fa-caret-down"></i></a>
        <ul class="dropdown">
          <li class="subitem"><a href="">SUB ITEM</a></li>
        </ul>
      </li>
      """
  'Sub-Dropdown':
    'prefix': 'sub'
    'body': """
      <li class="subitem"><a>SUB DROPDOWN</a>
        <ul class="dropdown">
          <li class='subitem'><a href="">SUB ITEM</a></li>
        </ul>
      </li>
      """
  'ProjectA Frame':
    'prefix': 'projecta'
    'body': """
      <!DOCTYPE html>
      <html lang="en">
        <head>
          <!-- Meta -->
          <meta charset="UTF-8">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <meta http-equiv="X-UA-Compatible" content="ie=edge">
          <!-- CSS -->
          <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
          <link rel="stylesheet" href="https://gitcdn.link/repo/pip-delorean/projecta/master/projecta.css">
          <title>Document</title>
        </head>
        <body>


          <!-- JS -->
          <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
          <script src="https://gitcdn.link/repo/pip-delorean/projecta/master/projecta.js"></script>
        </body>
      </html>
      """
  'ProjectA Dev':
    'prefix': 'projectadev'
    'body': """
      <!DOCTYPE html>
      <html lang="en">
        <head>
          <!-- Meta -->
          <meta charset="UTF-8">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <meta http-equiv="X-UA-Compatible" content="ie=edge">
          <!-- CSS -->
          <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
          <link rel="stylesheet" href="https://gitcdn.link/repo/pip-delorean/projecta/dev/css/projecta.css">
          <title>Document</title>
        </head>
        <body>


          <!-- JS -->
          <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
          <script src="https://gitcdn.link/repo/pip-delorean/projecta/dev/js/projecta.js"></script>
        </body>
      </html>
      """
  'Carousel':
    'prefix': 'carousel'
    'body': """
      <!-- Carousel -->
      <ul class="carousel">
        <li class="active-img"><a href=" "><div class='image' style="background-image: url('');"></div></a></li>
        <li><a href=" "><div class='image' style="background-image: url('');"></div></a></li>
        <li>
          <ul class="indicators">
            <li class="indicator active-indicator"><i class="fa fa-circle"></i></li>
            <li class="indicator"><i class="fa fa-circle-o"></i></li>
          </ul>
        </li>
      </ul>
      """
  'Landing':
    'prefix': 'landing'
    'body': """
      <!-- Landing Page -->
      <div class="landing" style="background-image:url('img/landing.png')">
        <div>

        </div>
      </div>
      """

#Gridsystem
  'Row-S 2 Columns':
    'prefix': 'row-s-2'
    'body': """
      <div class="row-s">
        <div class="col-2">

        </div>
        <div class="col-2">

        </div>
      </div>
      """
  'Row-MS 2 Columns':
    'prefix': 'row-ms-2'
    'body': """
      <div class="row-ms">
        <div class="col-2">

        </div>
        <div class="col-2">

        </div>
      </div>
      """
  'Row-M 2 Columns':
    'prefix': 'row-m-2'
    'body': """
      <div class="row-m">
        <div class="col-2">

        </div>
        <div class="col-2">

        </div>
      </div>
      """
  'Row-L 2 Columns':
    'prefix': 'row-l-2'
    'body': """
      <div class="row-l">
        <div class="col-2">

        </div>
        <div class="col-2">

        </div>
      </div>
      """
  'Row-S 3 Columns':
    'prefix': 'row-s-3'
    'body': """
      <div class="row-s">
        <div class="col-3">

        </div>
        <div class="col-3">

        </div>
        <div class="col-3">

        </div>
      </div>
      """
  'Row-MS 3 Columns':
    'prefix': 'row-ms-3'
    'body': """
      <div class="row-ms">
        <div class="col-3">

        </div>
        <div class="col-3">

        </div>
        <div class="col-3">

        </div>
      </div>
      """
  'Row-M 3 Columns':
    'prefix': 'row-m-3'
    'body': """
      <div class="row-m">
        <div class="col-3">

        </div>
        <div class="col-3">

        </div>
        <div class="col-3">

        </div>
      </div>
      """
  'Row-L 3 Columns':
    'prefix': 'row-l-3'
    'body': """
      <div class="row-l">
        <div class="col-3">

        </div>
        <div class="col-3">

        </div>
        <div class="col-3">

        </div>
      </div>
      """
  'Row-S 4 Columns':
    'prefix': 'row-s-4'
    'body': """
      <div class="row-s">
        <div class="col-4">

        </div>
        <div class="col-4">

        </div>
        <div class="col-4">

        </div>
        <div class="col-4">

        </div>
      </div>
      """
  'Row-MS 4 Columns':
    'prefix': 'row-ms-4'
    'body': """
      <div class="row-ms">
        <div class="col-4">

        </div>
        <div class="col-4">

        </div>
        <div class="col-4">

        </div>
        <div class="col-4">

        </div>
      </div>
      """
  'Row-M 4 Columns':
    'prefix': 'row-m-4'
    'body': """
      <div class="row-m">
        <div class="col-4">

        </div>
        <div class="col-4">

        </div>
        <div class="col-4">

        </div>
        <div class="col-4">

        </div>
      </div>
      """
  'Row-L 4 Columns':
    'prefix': 'row-l-4'
    'body': """
      <div class="row-l">
        <div class="col-4">

        </div>
        <div class="col-4">

        </div>
        <div class="col-4">

        </div>
        <div class="col-4">

        </div>
      </div>
      """
# Javascript snippets
'.source.js':
  'Dynamic Variables':
    'prefix': 'vars'
    'body': """
      //-------------------- Editable JS letiables for External Use ---------------------------
      navItemWidth = 80;
      carouselInterval = 10000;
      navDuration = 600;
      navShrink = 2.5;
      carouselDirection = 'right';
      carouselFade = 200;
      dropSpeed = 400;
      medium = 768;
      large = 1024;
      """

# CSS Snippets
'.source.css':
  'ProjectA Media Queries':
    'prefix': 'media'
    'body': """
      @media only screen and (min-width: 436px) {

      }

      @media only screen and (min-width: 620px) {

      }

      @media only screen and (min-width: 768px) {

      }

      @media only screen and (min-width: 1024px) {

      }
      """
