.carousel {
  display: flex;
  list-style-type: none;
  flex-direction: column;
  .carousel-images {
    max-height: 500px;
    ul {
      list-style-type: none;
      height: 100%;
      li {
        img {
          display: none;
          height: 100%;
        }
      }
    }
  }
  .carousel-indicators {
    ul {
      list-style-type: none;
      display: flex;
      justify-content: space-around;
      .indicator {
        background-color: white;
        border: 2px solid $tcolor;
        transition: background-color .3s;
        height: 15px;
        width: 15px;
        border-radius: 999px 999px;
        &:hover {
          background-color: $tcolor;
        }
      }
    }
  }
}
