@import "variables";
.nav-c > .item-dropdown {
  a {
    transition: transform .4s
  }
  &:hover {
    a {
    transform:none;
  }
    .dropdown a {
      transform:none;
    }
  }
  .dropdown {
    width: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: left;
    overflow:hidden;
    height:0px;
    transition:height .4s;
    padding-left: 5px;
    .subitem {
      flex-basis:100%;
      display:flex;
      flex-direction: column;
      a {
        border-left:3px solid $tcolor;
        transform:none;
      }
    }
    &:hover {
      height:calc(100%);
      a {
        transform: none;
      }
    }
  }
  .dropdown-a {
    height:calc(100%);
  }
}
