@import "variables";
.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  input[type=text] {
    width: 46%;
    height: 50px;
    margin: 5px;
    border: none;
    color: $darkergray;
    padding: 15px;
    background-color: $vlightgray;
    font-size: 17px;
    &:focus {
      outline: 1px solid $lblue;
    }
  }
  textarea {
    resize: none;
    width: 100%;
    height: 115px;
    margin: 5px;
    border: none;
    color: $darkergray;
    padding: 15px;
    background-color: $vlightgray;
    font-size: 17px;
    &:focus {
      outline: 1px solid $lblue;
    }
  }
  .submit {
    padding: 10px;
    color: $white;
    border: none;
    margin: auto;
    margin-top: 10px;
    font-size: 20px;
    background-color: $medblue;
  }
  .radioContainer {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 10px 0px 0px 0px;
    .radioBtn {
      display: flex;
      position: relative;
      align-items: center;
      justify-content: center;
      padding-left: 35px;
      margin-bottom:12px;
      cursor: pointer;
      line-height: 25px;
      font-size: 17px;
      -webkit-user-select: none;
      &:hover input ~ .check {
        background-color: $lblue;
      }
      input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        &:checked ~ .check {
          background-color: $lblue;
          &:after {
            display: block;
          }
        }
      }
      .check {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #eee;
        border-radius: 50%;
        &:after {
          content: "";
          position: absolute;
          display: none;
          top: 9px;
          left: 9px;
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background: white;
        }
      }
    }
  }
}

@media only screen and (min-width: 436px) {

}

@media only screen and (min-width: 620px) {

}

@media only screen and (min-width: 768px) {
  .form {
     width: 70%;
    .radioContainer {
      display: flex;
      justify-content: center;
      width: 100%;
      margin: 10px 0px 0px 0px;
      .radioBtn {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        padding-left: 35px;
        margin:0px 10px 12px 10px;
        cursor: pointer;
        line-height: 25px;
        font-size: 17px;
        -webkit-user-select: none;
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  .form {
    width: 50%;
    .radioContainer {
      display: flex;
      justify-content: center;
      width: 100%;
      margin: 10px 0px 0px 0px;
      .radioBtn {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        padding-left: 35px;
        margin:0px 10px 12px 10px;
        cursor: pointer;
        line-height: 25px;
        font-size: 17px;
        -webkit-user-select: none;
      }
    }
  }
}
