@import "variables";

.landing {
  background-size:cover;
  background-position: center;
  display:flex;
  align-items:center;
  justify-content: center;
  &::after {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateZ(-1px) scale(2);
    background-size: 100%;
    z-index: -1;
    background-size: cover;
    background-position: center;
  }
}
