@import "variables";

@media only screen and (max-width: 435px) {
  .nav {
    border-bottom: 1px solid $dcolor;
  }
  .footer ul {
    li {
      a {
        font-size: 15px;
      }
    }
  }
}

@media only screen and (min-width: 436px) {
  .nav {
    min-height:75px;
    height:10vh;
    flex-wrap: wrap;
    justify-content: center;
    .nav-c {
      flex-direction: row;
      justify-content: center;
      width: 100%;
      height: 55%;
      position: relative;
      .item {
        font-size: 3vw;
        border-bottom:2px solid $lcolor;
        transition:border-bottom .25s;
        justify-content: flex-start;
        align-items: center;
        display:flex;
        height:100%;
        width:25%;
        a {
          text-align:center;
          width:100%;
          align-items:center;
          justify-content:center;
        }
        &:hover {
          border-bottom:2px solid $dcolor;
          a {
            transform:scale(1.1);
          }
        }
      }
      .item.active {
        border-bottom:2px solid $dcolor;
        a {
          transform:scale(1.1);
        }
      }
      .item.close {
        display: none;
      }
    }
    .nav-t {
      display:none;
    }
  }
  .footer ul {
    li {
      a {
        font-size: 3vw;
      }
    }
  }
}

@media only screen and (min-width: 648px) {
  .nav {
    .item {
      a {
        font-size: 2.5vw;
      }
    }
  }
}
@media only screen and (min-width: 1024px) {
  .nav {
    .nav-c {
      min-height:100%;
      display:flex;
      justify-content:center;
      .item {
        display:flex;
        transition:background-position .2s ease-in-out;
        background-size: 100% 200%;
        background-image: linear-gradient(to bottom, $lcolor 50%, $ldcolor 50%);
        width:12%;
        padding: 0;
        a {
          font-size:1.4vw;
          justify-content: center;
          align-items:center;
          width:100%;
        }
        &:hover {
          background-position:0 -100%;
          border-bottom:2px solid $dcolor;
          a {
            transform:none;
            color:$dcolor;
          }
        }
      }
      .item.active {
        border-bottom:2px solid $dcolor;
        background-position:0 -100%;
        a {
          color:$dcolor;
          transform:none;
        }
      }
      .brand {
        height:100%;
        img {
          height:100%;
        }
      }
    }
  }
  .footer ul {
    li {
      a {
        font-size: 1.4vw;
      }
    }
  }
}
