@import "variables";

@media only screen and (max-width: 435px) {
  .footer ul {
    li {
      a {
        font-size: 15px;
      }
    }
  }
}

@media only screen and (min-width: 436px) {
  .nav {
    border:none;
    min-height:75px;
    height:10vh;
    flex-wrap: wrap;
    justify-content: center;
    .nav-c {
      flex-direction: row;
      justify-content: center;
      width: 100%;
      height: 55%;
      overflow: hidden;
      position: relative;
      .item {
        font-size: 3vw;
        border-bottom:2px solid $lcolor;
        transition:border-bottom .25s;
        justify-content: flex-start;
        align-items: center;
        display:flex;
        height:100%;
        a {
          text-align:center;
          width:100%;
          align-items:center;
          justify-content:center;
        }
        &:hover {
          a {
            transform:scale(1.1);
          }
        }
      }
      .item.item-dropdown a:hover{
        transform:scale(1);
      }
      .close {
        display:none;
      }
      .item.active {
        border-bottom:2px solid $dcolor;
        a {
          transform:scale(1.1);
        }
      }
    }
    .nav-t {
      display:none;
    }
  }
  .footer ul {
    li {
      a {
        font-size: 3vw;
      }
    }
  }
}

@media only screen and (min-width: 620px) {
  .nav {
    .item {
      a {
        font-size: 2.5vw;
      }
    }
  }
}
@media only screen and (min-width: 1024px) {
  .nav {
    .nav-c {
      min-height:100%;
      display:flex;
      justify-content:center;
      .item {
        display:flex;
        margin-top:-1px;
        border: none;
        a {
          font-size:1.4vw;
          height:100%;
          padding: 10px;
          justify-content: center;
          align-items:center;
          transition:background-position .2s ease-in-out;
          background-size: 100% 200%;
          background-image: linear-gradient(to bottom, transparent 50%, $ldcolor 50%);
          width:100%;
          border:none;
          &:hover {
            background-position:0 -100%;
            transform:none;
            color:$dcolor;
          }
        }
        &:hover {
          border:none;
        }
      }
      .item.active {
        border-bottom:2px solid $dcolor;
        a {
          color:$dcolor;
          background-position:0 -100%;
          transform:none;
        }
      }
      .brand {
        height:100%;
        img {
          height:100%;
        }
      }
    }
  }
  .footer ul {
    li {
      a {
        font-size: 1.4vw;
      }
    }
  }
}
