@import "variables";
.noScroll {
  overflow:hidden;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  width:100%;
  height:100%;
  top:0;
  left:0;
  position:fixed;
  z-index:2;
}

.nav {
  box-sizing: content-box;
  display:flex;
  align-items:center;
  justify-content: flex-start;
  flex-wrap:nowrap;
  top:0;
  height: 11vh;
  max-height: 85px;
  min-height: 75px;
  z-index:1;
  position:fixed;
  width:100%;
  background-color:$lcolor;
  list-style-type: none;
  transition: top .4s ease-in-out;
  .nav-items {
    flex-basis:100%;
    display:flex;
    z-index:3;
    flex-direction:column;
    list-style-type: none;
    position:fixed;
    transition: right .5s;
    top:0;
    overflow-y:scroll;
    overflow-x:hidden;
    height:100%;
    background-color:$lcolor;
  }
  .item {
    position: relative;
    display:block;
    a {
      padding:10px 20px 10px 20px;
      display: flex;
      align-items: center;
      height: 100%;
      transition: transform .4s, color .4s;
      text-decoration:none;
      font-size: 20px;
      color:$dcolor;
    }
    &.active {
      & > a {
        color: $tcolor;
      }
    }
  }
  .close {
    display:block;
    font-size: 8vw;
    width: 100%;
    height: auto;
    padding-right: 10px;
    padding-bottom: 10px;
    color:$dcolor;
    justify-content: flex-end;
    i {
      display:flex;
      justify-content: flex-end;
    }
    &:hover {
      transform:none;
    }
  }
}

.brand {
  list-style-type: none;
  text-align: center;
  height: 100%;
  img {
    height: 100%;
  }
}

.burger {
  background-color:$lcolor;
  height: auto;
  border-radius:6px 6px;
  padding: 10px;
  margin-right: 5%;
  margin-left: auto;
  transition:background-color .3s;
  border:1px solid $dcolor;
  &:hover {
    background-color:$dcolor;
    i {
      color:$lcolor;
    }
  }
  i {
    display: flex;
    align-items: center;
    color:$dcolor;
    transition:color .3s;
    width:100%;
    height:100%;
  }
}

@media only screen and (max-width: 436px) {
  .nav > .burger {
    padding: 2.2%;
  }
}

@media only screen and (min-width: 620px) {
  .item {
    a {
      font-size: 25px;
    }
  }
}

@media only screen and (min-width: 768px) {
  .nav {
    min-height:75px;
    height:10vh;
    flex-wrap: wrap;
    justify-content: center;
    .nav-items {
      flex-direction: row;
      justify-content: center;
      height: 55%;
      overflow: hidden;
      position: relative;
      ul {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
      }
      .item {
        justify-content: flex-start;
        align-items: center;
        display:flex;
        height:100%;
        a {
          text-align:center;
          width:100%;
          font-size: 1.9vw;
          align-items:center;
          justify-content:center;
          transition:transform .4s;
        }
      }
    }
    .close {
      display:none;
    }
  }
  .burger {
    display:none;
  }
}


@media only screen and (min-width: 1024px) {
  .nav {
    .nav-items {
      min-height:100%;
      display:flex;
      justify-content:center;
      &.slide-down {
        .item {
          a {
            &:before {
              position: absolute;
              width: 100%;
              z-index: -1;
              height: 0px;
              left: 0px;
              top: 0px;
              content: '';
              background-color: $ldcolor;
              transition: all 0.35s;
            }
          }
        }
        .item.active {
          & > a {
            color:$dcolor;
            &:before {
              height: 100%;
            }
          }
        }
      }
      .item {
        display:flex;
        border: none;
        a {
          font-size:1.1vw;
          height:100%;
          padding: 10px;
          justify-content: center;
          align-items:center;
          width:100%;
          border:none;
          transition: color .4s;
        }
      }
      .item.active {
        border-bottom:none;
        & > a {
          color:$tcolor;
          transform:none;
        }
      }
    }
  }
}
