@import "variables";
.noScroll {
  overflow:hidden;
}
.overlay {
  background-color: rgba(255, 255, 255, 0);
  width:100%;
  height:100%;
  top:0;
  left:0;
  transition:background-color .6s;
  position:fixed;
  z-index:2;
}

.nav {
  box-sizing: content-box;
  display:flex;
  align-items:center;
  justify-content: flex-start;
  flex-wrap:nowrap;
  top:0;
  height:100px;
  z-index:1;
  position:fixed;
  width:100%;
  background-color:$lcolor;
  list-style-type: none;
  transition: top .4s ease-in-out;
  .nav-c {
    flex-basis:100%;
    display:flex;
    z-index:3;
    flex-direction:column;
    list-style-type: none;
    position:fixed;
    transition: none;
    top:0;
    overflow-y:scroll;
    height:100%;
    background-color:$lcolor;
  }
  .item {
    position: relative;
    display:block;
    font-size: 22px;
    a {
      padding:10px 20px 10px 20px;
      display: flex;
      align-items: center;
      height: 100%;
      transition: transform .4s, color .4s;
      text-decoration:none;
      color:$dcolor;
    }
    &.nav-btn {
      display:flex;
      align-items: center;
      button {
        font-size: 22px;
        padding:10px 20px 10px 20px;
        height: 100%;
        background-color: $lcolor;
        border:none;
        box-shadow: 1px 1px 1px $dcolor;
        color:$dcolor;
        transition: background-color .4s, transform .4s, box-shadow .4s;
      }
    }
    &.active {
      & > a {
        color: $tcolor;
        transform:scale(1.1);
      }
      &.nav-btn {
        button {
          background-color: $ldcolor;
          transform:scale(0.95);
          box-shadow: none;
        }
      }
    }
  }
  .item-dropdown i {
    padding-left:2%;
  }
  .close {
    display:block;
    font-size: 8vw;
    width: 100%;
    height: auto;
    padding-right: 10px;
    padding-bottom: 10px;
    color:$dcolor;
    justify-content: flex-end;
    i {
      display:flex;
      justify-content: flex-end;
    }
    &:hover {
      transform:none;
    }
  }
}
.brand {
  height: 100%;
  img {
    height: 100%;
  }
}

.nav-t {
  background-color:$lcolor;
  height: auto;
  border-radius:6px 6px;
  padding: 10px;
  margin-right: 5%;
  margin-left: auto;
  transition:background-color .3s;
  border:1px solid $dcolor;
  &:hover {
    background-color:$dcolor;
    i {
      color:$lcolor;
    }
  }
  i {
    display: flex;
    align-items: center;
    color:$dcolor;
    transition:color .3s;
    width:100%;
    height:100%;
  }
}

@media only screen and (min-width: 620px) {
  .item {
    a {
      font-size: 25px;
    }
  }
}

@media only screen and (min-width: 768px) {
  .nav {
    min-height:75px;
    height:10vh;
    flex-wrap: wrap;
    justify-content: center;
    .nav-c {
      flex-direction: row;
      justify-content: center;
      width: 100%;
      height: 55%;
      overflow: hidden;
      position: relative;
      .item {
        justify-content: flex-start;
        align-items: center;
        display:flex;
        height:100%;
        a {
          text-align:center;
          width:100%;
          font-size: 2vw;
          align-items:center;
          justify-content:center;
          transition:transform .4s;
        }
        &.nav-btn {
          button {
            font-size: 2vw;
          }
        }
      }
      .item.item-dropdown a:hover{
        transform:scale(1);
      }
      .close {
        display:none;
      }
      .item.active {
        a {
          transform:scale(1.1);
        }
        &.nav-btn {
        }
      }
    }
    .nav-t {
      display:none;
    }
  }
  .footer ul {
    li {
      a {
        font-size: 3vw;
      }
    }
  }
}


@media only screen and (min-width: 1024px) {
  .nav {
    .nav-c {
      min-height:100%;
      display:flex;
      justify-content:center;
      .item {
        display:flex;
        border: none;
        a {
          font-size:1.2vw;
          height:100%;
          padding: 10px;
          justify-content: center;
          align-items:center;
          width:100%;
          border:none;
          transition: color .4s;
        }
        &.nav-btn {
          justify-content: center;
          padding-right:10px;
          button {
            padding:10px;
            height:50%;
            font-size:1.2vw;
          }
        }
      }
      .item.active {
        border-bottom:none;
        a {
          color:$tcolor;
          transform:none;
        }
      }
      .brand {
        height:100%;
        img {
          height:100%;
        }
      }
    }
  }

  .nav {
    .nav-c.slide-down {
      .item {
        a {
          &:before {
            position: absolute;
            width: 100%;
            z-index: -1;
            height: 0px;
            left: 0px;
            top: 0px;
            content: '';
            background-color: $ldcolor;
            transition: all 0.35s;
          }
        }
      }
      .item.active {
        a {
          color:$dcolor;
          &:before {
            height: 100%;
          }
        }
      }
    }
  }
  .footer ul {
    li {
      a {
        font-size: 1.4vw;
      }
    }
  }
}
