@import "variables";
@import "navbar";
* {
  margin:0px;
  padding:0px;
  font-family:georgia;
  box-sizing:border-box;
}

html {
  height: 100%;
  width: 100%;
  min-width: 300px;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  .footer {
    background-color: $lcolor;
    border-top: 1px solid $dcolor;
    box-sizing: border-box;
    height: 70px;
    margin-top: auto;
    width: 100%;
    align-self: flex-end;
    justify-content: center;
  }
}

.content {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.footer ul {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  flex: 1;
  li {
    a {
      font-size: 20px;
      color:$dcolor;
      text-decoration: none;
    }
  }
}

.carousel {
  //width: 100%;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 500px;
  overflow: hidden;
  list-style-type: none;
  li {
    display: flex;
    justify-content: center;
    align-items: center;
    .fa {
      border: 1px solid $dcolor;
      border-radius: 5px;
      padding: 0px 15px 0px 15px;
      transition: background-color 0.2s ease-in-out;
      &:hover {
        background-color: $lcolor;
      }
    }
    img {
      position: relative;
      display: none;
      flex-shrink: 0;
      max-width: 100%;
    }
  }
  .active-img {
    //width:50%;
    height: 100%;
  }
  .active-img img {
    display: flex;
    height: auto;
    max-height: 100%;
  }
  li.slider-right {
    margin: 5%;
  }
  li.slider-left {
    margin: 5%;
  }

}

.disabled {
    pointer-events:none; //This makes it not clickable
    opacity:0.6;         //This grays it out to look disabled
}
@import "media";
