@import "variables";
@import "navbar";
* {
  margin:0px;
  padding:0px;
  font-family:georgia;
  box-sizing:border-box;
}

html {
  height: 100%;
  width: 100%;
  min-width: 300px;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  .footer {
    background-color: $lcolor;
    border-top: 1px solid $dcolor;
    box-sizing: border-box;
    height: 70px;
    margin-top: auto;
    width: 100%;
    align-self: flex-end;
    justify-content: center;
  }
}

.content {
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-shrink: 0;
  flex-grow: 0;
}

.footer ul {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  flex: 1;
  li {
    a {
      font-size: 20px;
      color:$dcolor;
      text-decoration: none;
    }
  }
}

.carousel {
  height: 50vw;
  max-height: 500px;
  width: auto;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  list-style-type: none;
  border: 1px solid $lcolor;
  box-sizing: border-box;

  .indicators {
    display: flex;
    position: absolute;
    bottom: 5%;
    .indicator i {
      padding: 2px;
      border: none;
    }
  }

  li {
    display: flex;
    justify-content: center;
    align-items: center;
    .fa {
      border: 1px solid $dcolor;
      border-radius: 5px;
      padding: 0px 15px 0px 15px;
      transition: background-color 0.2s ease-in-out;
      &:hover {
        background-color: $lcolor;
      }
    }
    img {
      display: none;
      max-width: 100%;
      max-height: 100%;
    }
    a {
      display: flex;
      height: 100%;
      width: 100%;
      justify-content: center;
    }
  }
  .active-img {
    width: 100%;
    height: 100%;
  }
  .active-img img {
    display: block;
  }

}

.disabled {
    pointer-events:none; //This makes it not clickable
    //opacity:0.6;         //This grays it out to look disabled
}
@import "media";
