@import 'variables';
.gridsystem>div{
  div {
    padding:5px;
  }
}
.content ul li{
  padding:1px;
}

.footer {
  padding: 15px 0px 15px 0px;
  h2 {
    color:$dcolor;
    text-align: center;
  }
}

.test {
  background-image:url('../img/landing.jpg');
  background-size: cover;
  height: 400px;
}

@media only screen and (min-width: 436px) {

}

@media only screen and (min-width: 620px) {
  .placeholderimg {
    max-width:50%;
    margin:auto;
  }
}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 1024px) {

}
