@import 'variables';

.carousel {
  margin-bottom: 10px;
}

.job-finder {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  width: 30%;
  border: 1px solid $lcolor;
  padding: 10px;
  text-align: center;
}
